
html {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	background-color: #00539F;
	width: auto;
	height: auto;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: 00539F;
	text-shadow: 3px 3px 1px black;
}

#wrapper * {
	padding: 2px,2px,2px,2px;
	text-align: left;
	line-height: 1;
	letter-spacing: 1px;
	font-size: 17px;
}

#buttons {

}

ol {

}

li {

}

h3 {
	font-size: 40px;
	border: 1px solid black;
	background-color: grey;
}

h5 {
	font-size: 20px;
	border: 1px solid black;
	background-color: grey;
}

p {
	line-height: 1;
	letter-spacing: 1px;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	/*text-align: center;*/
}

img {
	width: 200px;
	display: block;
	margin: 0 auto;
}
/*
html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
*/
